<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.flood.delay.mapper.TbDelayJobMapper">

    <resultMap id="DelayQueueJob" type="cn.flood.delay.entity.DelayQueueJob">
        <result property="id" column="id"/>
        <result property="topic" column="topic"/>
        <result property="delay" column="delay"/>
        <result property="ttr" column="ttr"/>
        <result property="body" column="body"/>
        <result property="status" column="status"/>
        <result property="reentry" column="reentry"/>
        <result property="retryCount" column="retry_count"/>
        <result property="executionTime" column="execution_time"/>
        <result property="createTime" column="create_time"/>
        <result property="createDate" column="create_date"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>

    <insert id="insert" parameterType="cn.flood.delay.entity.DelayQueueJob">
        INSERT INTO t_delay_queue_job (
        <trim prefixOverrides=",">
            <if test="id != null">,id</if>
            <if test="topic != null">,topic</if>
            <if test="delay != null">,delay</if>
            <if test="ttr != null">,ttr</if>
            <if test="body != null">,body</if>
            <if test="status != null">,status</if>
            <if test="reentry != null">,reentry</if>
            <if test="executionTime != null">,execution_time</if>
            <if test="createTime != null">,create_time</if>
            <if test="createDate != null">,create_date</if>
            <if test="updateDate != null">,update_date</if>
        </trim>
        ) VALUES (
        <trim prefixOverrides=",">
            <if test="id != null">,#{id}</if>
            <if test="topic != null">,#{topic}</if>
            <if test="delay != null">,#{delay}</if>
            <if test="ttr != null">,#{ttr}</if>
            <if test="body != null">,#{body}</if>
            <if test="status != null">,#{status}</if>
            <if test="reentry != null">,#{reentry}</if>
            <if test="executionTime != null">,#{executionTime}</if>
            <if test="createTime != null">,#{createTime}</if>
            <if test="createDate != null">,#{createDate}</if>
            <if test="updateDate != null">,#{updateDate}</if>
        </trim>
        )
    </insert>

    <delete id="delete">
        DELETE FROM t_delay_queue_job
        WHERE ID = #{id}
    </delete>

    <update id="update" parameterType="cn.flood.delay.entity.DelayQueueJob">
        UPDATE t_delay_queue_job
        <set>
            <if test="topic != null">topic = #{topic}, </if>
            <if test="delay != null">delay = #{delay}, </if>
            <if test="ttr != null">ttr = #{ttr}, </if>
            <if test="body != null">body = #{body}, </if>
            <if test="status != null">status = #{status}, </if>
            <if test="executionTime != null">execution_time = #{executionTime}, </if>
            <if test="reentry != null">reentry = #{reentry}, </if>
            <if test="retryCount != null">retry_count = #{retryCount}, </if>
            <if test="createTime != null">create_time = #{createTime}, </if>
            <if test="updateDate != null">update_date = #{updateDate}, </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="get" parameterType="java.util.Map" resultMap="DelayQueueJob">
        SELECT
        id,
        topic,
        delay,
        ttr,
        body,
        status,
        reentry,
        retry_count,
        execution_time,
        create_time,
        create_date,
        update_date
        FROM t_delay_queue_job
        <where>
            <if test="id != null"> AND id = #{id}</if>
            <if test="topic != null"> AND topic = #{topic}</if>
            <if test="delay != null"> AND delay = #{delay}</if>
            <if test="ttr != null"> AND ttr = #{ttr}</if>
            <if test="body != null"> AND body = #{body}</if>
            <if test="status != null"> AND status = #{status}</if>
            <if test="executionTime != null"> AND execution_time = #{executionTime}</if>
            <if test="createTime != null"> AND create_time = #{createTime}</if>
            <if test="createDate != null"> AND create_date = #{createDate}</if>
            <if test="updateDate != null"> AND update_date = #{updateDate}</if>
            <if test="reentry != null"> AND reentry = #{reentry}</if>
            <if test="retryCount != null"> AND retry_count = #{retryCount}</if>
        </where>
    </select>

    <select id="list" parameterType="java.util.Map" resultMap="DelayQueueJob">
        SELECT
        id,
        topic,
        delay,
        ttr,
        body,
        status,
        reentry,
        retry_count,
        execution_time,
        create_time,
        create_date,
        update_date
        FROM t_delay_queue_job
        <where>
            <if test="id != null"> AND id = #{id}</if>
            <if test="topic != null"> AND topic = #{topic}</if>
            <if test="delay != null"> AND delay = #{delay}</if>
            <if test="ttr != null"> AND ttr = #{ttr}</if>
            <if test="body != null"> AND body = #{body}</if>
            <if test="status != null"> AND status = #{status}</if>
            <if test="executionTime != null"> AND execution_time = #{executionTime}</if>
            <if test="createTime != null"> AND create_time = #{createTime}</if>
            <if test="createDate != null"> AND create_date = #{createDate}</if>
            <if test="updateDate != null"> AND update_date = #{updateDate}</if>
            <if test="reentry != null"> AND reentry = #{reentry}</if>
            <if test="retryCount != null"> AND retry_count = #{retryCount}</if>
        </where>
    </select>

</mapper>
